<!DOCTYPE html>
<html>

<head>
    <title>Редагувати нотатку</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>

<body>

<div class="container mt-5">

    <h1>Редагувати нотатку</h1>

    <form th:action="@{/note/edit}" method="post">
        <input type="hidden" name="id" th:value="${note.id}" />

        <div class="form-group">
            <label for="title">Заголовок</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${note.title}">
        </div>

        <div class="form-group">
            <label for="content">Текст нотатки</label>
            <textarea class="form-control" id="content" name="content" th:text="${note.content}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Зберегти</button>

    </form>

</div>

</body>

</html>